{% extends "layout.html" %} {% block content %}
<body>
  <div class="doku">
    <h1>Dokumentation</h1>
    <h2>Inhalt</strong></h2>
    <ul>
      <li><h3>Idee</h3></li>
      <li><h3>Designkonzept</h3></li>
      <li><h3>Umsetzung</h3></li>
      <li><h3>Formsprache</h3></li>
      <li><h3>Bilder</h3></li>
      <li><h3>Farbe & Typografie</h3></li>
    </ul>
    <br />
    <br />
    <br />

    <p>Christopher Friedrichs, 730426</p>

    <br />
    <p>Jana Golditz, 730545</p>

    <br />
    <br />
    <br />

    <h2 id="idee">Idee</h2>
    <p>
      Das Metropol-Theater in Brunsbüttel ist ein familiengeführtes Kino mit
      einer einzigartigen Tradition, die bis ins Jahr 1909 zurückreicht. Ziel
      dieser Dokumentation ist es, das gestalterische Konzept hinter der
      Überarbeitung der visuellen Identität sowie der Website des Kinos
      darzulegen und dabei gestalterische Entscheidungen zu begründen.
    </p>

    <p>
      Das Kino hebt sich durch seine lange Tradition und seinen persönlichen
      Service von modernen Multiplex-Kinos ab. Unser Ziel war es, diese
      Einzigartigkeit durch ein minimalistisches und zeitloses Design zu
      unterstreichen, das sowohl die Eleganz des klassischen Kinos als auch die
      Zugänglichkeit eines modernen Familienunternehmens widerspiegelt.
    </p>
    <ul class="doku_Liste">
      <li>
        <strong>Zielwerte:</strong>, Zugänglichkeit, Tradition und Modernität.
      </li>
      <li>
        <strong>Schwerpunkte:</strong> Reduzierte Farbgebung, geometrische
        Typografie und klare Strukturen.
      </li>
    </ul>

    <br />

    <h2 id="designkonzept">Designkonzept</h2>
    <p>
      Das Designkonzept, verbindet Tradition und Ästhteik, um den historischen
      Charme des Theaters zu bewahren und zugleich neue Zielgruppen
      anzusprechen. Die Farbpalette aus einem grauen Braun und Creme vermittelt
      Seriosität und Wärme, während die geometrische Schriftart League Spartan
      klare Lesbarkeit garantiert. Das Konzept für diese Website steht weit
      entfernt von dem, der großen Kinoketten. Wir haben auf das Motto: "Weniger
      ist mehr" gesetzt!
    </p>
    <br />

    <h3 id="styletile">Style Tiles</h3>
    <figure>
      <a href="styletile1.png">
        <img
          class="screen"
          src="../bilder/bilder_styletile/styletile1.png"
          alt="screenshot"
      /></a>
    </figure>
    <br />
    <br />

    <figure>
      <a href="styletile2.png">
        <img
          class="screen"
          src="../bilder/bilder_styletile/styletile2.png"
          alt="screenshot"
      /></a>
    </figure>
    <br />
    <br />

    <figure>
      <a href="styletile3.png">
        <img
          class="screen"
          src="../bilder/bilder_styletile/styletile3.png"
          alt="screenshot"
      /></a>
    </figure>
    <br />
    <br />

    <p>
      Da wir uns schon in anderen Modulen mit dem Designkonzepts des
      Metropol-Theaters auseinandergesetzt haben, sehen unsere Styletiles sich
      realtiv ähnlich. Im Designprozess für das Logo, kann man dennoch gut
      erkennen, welche Entwicklung wir im Prozess durchlaufen sind.
    </p>

    <h3 id="logoProzess">Logo</h3>
    <figure>
      <a href="logo1.png">
        <img
          class="screen"
          src="../bilder/bilder_logo/logo1.png"
          alt="screenshot"
      /></a>
    </figure>
    <br />
    <br />

    <figure>
      <a href="logo2.png">
        <img
          class="screen"
          src="../bilder/bilder_logo/logo2.png"
          alt="screenshot"
      /></a>
    </figure>
    <br />
    <br />

    <figure>
      <a href="logo3.png">
        <img
          class="screen"
          src="../bilder/bilder_logo/logo3.png"
          alt="screenshot"
      /></a>
    </figure>
    <figure>
      <a href="logo4.png">
        <img
          class="screen"
          src="../bilder/bilder_logo/logo4.png"
          alt="screenshot"
      /></a>
    </figure>
    <br />
    <br />

    <figure>
      <a href="logo5.png">
        <img
          class="screen"
          src="../bilder/bilder_logo/logo5.png"
          alt="screenshot"
      /></a>
    </figure>
    <br />
    <br />

    <figure>
      <a href="logo6.png">
        <img
          class="screen"
          src="../bilder/bilder_logo/logo6.png"
          alt="screenshot"
      /></a>
    </figure>

    <figure>
      <a href="logoKlassisch.png">
        <img
          class="screen"
          src="../bilder/bilder_logo/logoKlassisch.png"
          alt="screenshot"
      /></a>
    </figure>
    <br />
    <br />

    <p>
      Angefangen bei bunten, noch etwas planlosen Vorlagen auf Canva haben wir
      uns zu einem selbsgezeichnetem Logo des Gebäudes vorgetastet. Hier hat
      sich langsam das Konzept für das Logo und somit auch dem ganzen
      Coorporate-Design gefestigt. Die bunten Logos, haben uns eigentlich gut
      gefallen, aber wir hatten nie das Gefühl, dass es gut zum Metropol-Theater
      gepasst hat. Um Designtechnisch näher ans Kino zu kommen, haben wir uns in
      den nächsten Schritten dazu entschieden, dann das physische Gebäude als
      Logo zu testen. Hier fanden wir Farben zu ablenkend und haben uns dann
      schon auf eine simple Farbpalette geeinigt. Als wir auf unsere Schriftart
      gestoßen sind und damit ein paar Sachen ausprobiert haben, waren wir sehr
      glücklich mit Farbe und Schrift.
    </p>

    <p>
      Das letzte Logo hat somit den Grundstein für das allgemeine Design gelegt
      und dieses haben wir auch als Grundlage für die Styletiles benutzt. Das
      letzte Styletile hat uns am besten gefallen und an diesem haben wir uns
      auch für die Umsetzung langgehangelt. Da unser Design von der Schriftart
      lebt, fanden wir das letzt Styletile passend; hier steht das große Logo im
      Fokus, lässt aber noch genug Raum für Bild und Text.
    </p>

    <p>
      In Konzeption Digitaler Medien, haben wir ein Styleguide entworfen, was
      unten zu sehen ist. Für die Website haben wir uns entschieden nur das
      secondary Logo zu benutzen statt das primary Logo. Die dreieckigen
      Design-Elemente eignen sich eher für Druckmedien, wie Speisekarten,
      weswegen wir diese nicht für unsere Website benutzt haben.
    </p>

    <figure>
      <a href="styleguide.png">
        <img
          class="screen"
          src="../bilder/bilder_styletile/styleguide.png"
          alt="screenshot"
      /></a>
    </figure>

    <br />

    <h2>Umsetzung</h2>
    <h3>Start</h3>
    <p>
      Auf der Startseite finden Nutzer/innen eine Übersicht über die Filme die
      die nöchsten 3 Tage laufen. Diese Art von Übersicht war uns sehr wichtig,
      weil wir das Gefühl hatten, dass das Programm eines Kinos im Mittelpunkt
      stehen sollte ohne irgendwelche Ablenkungen oder Umschweifungen.
    </p>
    <br />

    <h3>Programm</h3>
    <p>
      Um eine noch größere Übersicht über das Programm zu finden, gibt es die
      Programm-Seite, wo das Programm für die nöchsten 14 Tage zu finden ist.
      Auch hier ist alles sehr minimalistisch gehalten, um das Programm bzw. die
      Filme im Mittelpunkt zu stellen.
    </p>
    <br />
    <p>
      Auf der ganzen Site, haben wir eigentlich nur Grid verwendet und mit zwei
      responsive sizes gearbeitet, da es sich angeboten hat nur eine Spalte für
      die mobile Ansicht zu erstellen und dann 2-3 Spalten für alle größeren
      Geräte. Es war ab und zu ein bisschen beschwerlich die richtige Anordnung
      zu finden, aber da unser Inhalt realtiv übersichtlich ist, haben wir das
      gut gemeistert.
    </p>

    <br />

    <h2>Formsprache</h2>
    <p>
      Die Formsprache des Designs orientiert sich an klaren Linien und einer
      modernen, geometrischen Ästhetik. Durch die Verwendung der Schriftart
      League Spartan wird eine schlichte, gleichzeitig aber markante Typografie
      geschaffen, die sowohl Professionalität als auch Zugänglichkeit
      vermittelt. Die klare Rasterstruktur sorgt für Ordnung und Einheitlichkeit
      im Layout, ohne dabei starr zu wirken. Unterstützt wird dieser Ansatz
      durch eine reduzierte Farbpalette, die das Design harmonisch und
      gleichzeitig zeitgemäß erscheinen lässt. Insgesamt spiegelt die
      Formsprache den Anspruch wider, ein elegantes, aber unaufdringliches
      Erscheinungsbild zu schaffen, das den Fokus auf die Inhalte des Theaters
      lenkt.
    </p>
    <br />

    <h2>Farbe/Typografie</h2>
    <p>
      Unsere Farbpalette steht im direkten Kontrast zu den eher traditionellen
      Kinofarben, die sich durch eine rote Farbpalette auszeichnen. Wir wollten
      eher weg von grellen Farben, die große, kommerzielle Kinoketten sich zu
      Nutzen machen. Auch hier haben wir auf etwas zeitloses gesetzt und denken,
      dass unsere Farbwahl beständig und minimalistisch ist. League Spartan,
      greift genau diese Beständigkeit auf, wie wir finden und gibt unserem
      ganzen Design eine klare Lesbarkeit und einen Widererkennungswert.
    </p>
    <br />



    <br />
    <br />
    <br />
    <br />
    <br />

    <div class= "links_doku">
    <a href="kollophon.html"><h2>Kollophon</h2></a>
    <a href="zeitleiste.html"><h2>Zeitleiste</h2></a>
    <a href="module.html"><h2>Module</h2></a>
  </div>

    <p></p>
    <p></p>
  </div>
</body>
{% endblock %}
