{% extends "layout.html" %}

{% block content %}

<div class="dashboard">

  <ul class="logoIndex">
    {% for image in imagePaths %}
      {% if image.id == 2 %}
        <li><img src="{{ image.path }}" alt="Logo mit ID 2" /></li>
      {% endif %}
    {% endfor %}
  </ul>

  <!-- Programm für Heute -->
  <div class="tabs">
    <strong>Heute</strong>
  </div>
  <hr>
  <ul class="program-list">
    {% if todayShows.length > 0 %}
      {% for show in todayShows %}
        <li>
          <a href="/film/{{ show.film_id }}"><span>{{ show.film_title }}</span></a>
          <span class="time">{{ show.time }} Uhr</span>
        </li>
      {% endfor %}
    {% else %}
      <li>Keine Vorstellungen für heute.</li>
    {% endif %}
  </ul>

  <!-- Programm für Morgen -->
  <div class="tabs">
    <strong>Morgen</strong>
  </div>
  <hr>
  <ul class="program-list">
    {% if tomorrowShows.length > 0 %}
      {% for show in tomorrowShows %}
        <li>
          <a href="/film/{{ show.film_id }}"><span>{{ show.film_title }}</span></a>
          <span class="time">{{ show.time }} Uhr</span>
        </li>
      {% endfor %}
    {% else %}
      <li>Keine Vorstellungen für morgen.</li>
    {% endif %}
  </ul>

  <!-- Programm für Übermorgen -->
  <div class="tabs">
    <strong>Übermorgen</strong>
  </div>
  <hr>
  <ul class="program-list">
    {% if dayAfterTomorrowShows.length > 0 %}
      {% for show in dayAfterTomorrowShows %}
        <li>
          <a href="/film/{{ show.film_id }}"><span>{{ show.film_title }}</span></a>
          <span class="time">{{ show.time }} Uhr</span>
        </li>
      {% endfor %}
    {% else %}
      <li>Keine Vorstellungen für übermorgen.</li>
    {% endif %}
  </ul>

</div>
{% endblock %}
