{% extends "layout.html" %} {% block content %}
<kolophon>
  <h1>Kolophon</h1>
 

  <h2>Quellenangaben für Fotos und Poster</h2>
  <ul>
    <li>
      <strong>König der Löwen Plakat:</strong>
      <a
        href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.disney.de%2Ffilme%2Fmufasa-der-koenig-der-loewen&psig=AOvVaw1uZ4IREoGiouHxlZvZlqjD&ust=1737219533995000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPDY5pyd_YoDFQAAAAAdAAAAABAE"
        >Disney - Mufasa, der König der Löwen</a
      >
    </li>
    <li>
      <strong>Interstellar Poster:</strong>
      <a
        href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.amazon.de%2F-%2Fen%2FTainsi-Interstellar-Poster-30x46cm%2Fdp%2FB08CXT6TRD&psig=AOvVaw3VPv9AKLJTPsurEjuKZbWr&ust=1737463094014000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKC58cWohIsDFQAAAAAdAAAAABAE"
        >Amazon - Interstellar Poster</a
      >
    </li>
    <li>
      <strong>Inception Poster:</strong>
      <a
        href="https://i.ebayimg.com/00/s/MTYwMFgxMDk3/z/LlUAAOSwm8VUwoRL/$_57.JPG?set_id=880000500F"
        >eBay - Inception Poster</a
      >
    </li>
    <li>
      <strong>Matrix Poster:</strong>
      <a
        href="https://www.amazon.com/Matrix-Framed-Poster-Regular-inches/dp/B08BYSJWSV"
        >Amazon - Matrix Framed Poster</a
      >
    </li>
    <li>
      <strong>Parasite Poster:</strong>
      <a href="https://m.media-amazon.com/images/I/71960VfyitL._AC_SY879_.jpg"
        >Amazon - Parasite Poster</a
      >
    </li>
    <li>
      <strong>The Godfather Poster:</strong>
      <a href="https://m.media-amazon.com/images/I/81B3U3Rv+hL._AC_SY879_.jpg"
        >Amazon - The Godfather Poster</a
      >
    </li>

    <li>
      <strong>Styletile, Bild (Fernseher):</strong>
      <a href="https://pin.it/5H3qnCeFA"
        >Pinterest</a
      >
    </li>

    <li>
      <strong>Styletile, Bild (Fight Club Plakat):</strong>
      <a href="https://pin.it/1dIA6HeFP"
        >Pinterest</a
      >
    </li>
  </ul>

  <h2>Zusätzliche Ressourcen</h2>

  <p>
    <a
      href="https://www.youtube.com/watch?v=hu-q2zYwEYs&list=PL4cUxeGkcC9ivBf_eKCPIAYXWzLlPAm6G"
      >YouTube Video: Layout-, CSS- und Form-Basics</a
    >
  </p> 
  <p>
    <a
      href="https://contrast-grid.eightshapes.com/?version=1.1.0&background-colors=%23231f20%0D%0A%237fbe7b%0D%0A%23f1efe7&foreground-colors=%23231f20%0D%0A%237fbe7b%0D%0A%23f1efe7&es-color-form__tile-size=compact&es-color-form__show-contrast=aaa&es-color-form__show-contrast=aa&es-color-form__show-contrast=aa18&es-color-form__show-contrast=dnp"
      >Contrast Grid</a
    >
  </p> 
  </kolophon
>{% endblock %}
