<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="icon" type="image/png" href="/public/favicon.ico" />
  <link href="/public/style.css" rel="stylesheet" />
</head>
<body>
<header>
  <div class="header-container">
    <img class="logoTopnav" src="public/img/mtLogo.png" alt="mtLogo" />
    <ul>
      <li><a href="/">Start</a></li>
      <li><a href="/programm">Programm</a></li>
      <li><a href="/preise">Preise</a></li>
      <li><a href="/ueberuns">Über uns</a></li>
    </ul>
  </div>
</header>
  <hr />
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p class="copyright">Metropol Theater 2025</p>
    <nav class="footer-links">
      <ul class="footer-links-list">
        <li><a class="footer-link" href="/impressum">Impressum</a></li>
        <li><a class="footer-link" href="/datenschutz">Datenschutz</a></li>
        <li><a class="footer-link" href="/kolophon">Kolophon</a></li>
        <li><a class="footer-link" href="/zeitleiste">Zeitleiste</a></li>
        <li><a class="footer-link" href="/www-dokumentation">WWW-Dokumentation</a></li>
        <li><a class="footer-link" href="/frontend-dokumentation">Frontend-Dokumentation</a></li>
      </ul>
    </nav>
  </footer>
  <script src="/public/script.js"></script>
</body>
</html>