{% extends "layout.html" %} {% block content %}
<article class="movie-detail-page">
  <div class="grid-movieDetail">
    <header class="movieDetail_Titel">
      <h1>{{ film.title }}</h1>
    </header>

    <div class="movieDetail_Content">
      <section class="movieDetail_Poster">
        <figure>
          <img src="{{ film.poster_url }}" alt="{{ film.title }}" />
        </figure>
      </section>

      <section class="movieDetail_Info">
        <div class="movieDetail_Text">
          <p>{{ film.description }}</p>
        </div>

        <div class="movieDetail_Liste">
          <h2>Details</h2>
          <ul>
            <li><strong>Erscheinungsjahr:</strong> {{ film.release_date }}</li>
            <li><strong>Dauer:</strong> {{ film.duration }} Minuten</li>
            <li><strong>Regisseur:</strong> {{ film.director }}</li>
            <li><strong>Besetzung:</strong> {{ film.cast }}</li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</article>
{% endblock %}
