{% extends "layout.html" %}

{% block content %}
<div class="preise"> 
  <div class="tabs">
    <span><h2><strong>Preise</strong></h2></span>
  </div>
  <hr>
  <ul class="price-list">
    <li>
      <span>Erwachsene</span>
      <span class="price">10,00 €</span>
    </li>
    <li>
      <span>Kinder (unter 12 Jahre)</span>
      <span class="price">6,00 €</span>
    </li>
    <li>
      <span>Studenten (mit Ausweis)</span>
      <span class="price">8,00 €</span>
    </li>
    <li>
      <span>Senioren (ab 65 Jahre)</span>
      <span class="price">7,00 €</span>
    </li>
  </ul>
</div>
{% endblock %}


