{% extends "./layout.html" %}
{% block content %}
<div class="timeline">
  <h1>Zeitleiste</h1>
  <ul>
    <li>
      <h2>Dezember 2024</h2>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/bilder_styletile/styletile1.png"
            alt="Screenshot von Styletile 1"
          />
        </a>
        <figcaption>Styletile 1</figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/bilder_styletile/styletile2.png"
            alt="Screenshot von Styletile 2"
          />
        </a>
        <figcaption>Styletile 2</figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/bilder_styletile/styletile3.png"
            alt="Screenshot von Styletile 3"
          />
        </a>
        <figcaption>Styletile 3</figcaption>
      </figure>
    </li>

    <li>
      <h2>17. Januar 2025</h2>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto1.jpg"
            alt="Screenshot von Arbeit am Programmaufbau"
          />
        </a>
        <figcaption>Arbeit am Programmaufbau</figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto2.jpg"
            alt="Screenshot von Herumtüfteln mit Grid, Farbe hinzufügen und Schrift einbetten"
          />
        </a>
        <figcaption>
          Herumtüfteln mit Grid, Farbe hinzufügen, Schrift einbetten
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto3.jpg"
            alt="Screenshot des Rohtextes für 'Über Uns'"
          />
        </a>
        <figcaption>Der "Über Uns"-Text roh.</figcaption>
      </figure>
    </li>

    <li>
      <h2>18. Januar 2025</h2>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto4.jpg"
            alt="Screenshot von Formatierung des Textes und Ausprobieren von Grid und Flexbox"
          />
        </a>
        <figcaption>
          Formatierung des Textes bearbeiten, Grid ausprobieren, Flexbox ausprobieren
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto5.jpg"
            alt="Screenshot von weiterem Arbeiten am Textaufbau"
          />
        </a>
        <figcaption>Weiter am Aufbau des Textes arbeiten.</figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto6.jpg"
            alt="Screenshot von der Erstellung des Programm-Grids"
          />
        </a>
        <figcaption>Programm-Grid bauen.</figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto7.jpg"
            alt="Screenshot von einem weiteren Teil des Projekts"
          />
        </a>
      </figure>
    </li>

    <li>
      <h2>19. Januar 2025</h2>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto8.jpg"
            alt="Screenshot vom ersten Aufbau der Detailseite"
          />
        </a>
        <figcaption>Detailseite - erster Aufbau</figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto9.jpg"
            alt="Screenshot vom Verschieben des Logos und Arbeiten an der Detailseite"
          />
        </a>
        <figcaption>
          Logo verschieben, weiter am Aufbau der Detailseite arbeiten
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a>
          <img
            class="screen"
            src="/public/img/zeitleiste_fotos/foto10.jpg"
            alt="Screenshot der Detailseite mit Media Query Entwurf"
          />
        </a>
        <figcaption>Detailseite mit Media Query Entwurf</figcaption>
      </figure>
    </li>
  </ul>
</div>
{% endblock %}
